In [1]:
import pandas as pd

In [2]:
def Dummify(DF, ListOfVariables, del_prams = False):
    """
    first element is your data frame
    second element is the list of all varaibles you would like to make dummy variables for
    third element is False as default. If it is true it will delete the original variable that you create 
    dummy variables for
    """
    for i in ListOfVariables:
        vars()[i + '_dummy'] = pd.get_dummies(DF[i], prefix = i)
        del vars()[i + '_dummy'][(vars()[i + '_dummy']).columns.values[0]]
        DF = pd.concat([DF, vars()[i + '_dummy']], axis=1)
        
        if del_prams == True:
            del DF[i]
                        
    return DF

In [3]:
url = "https://raw.githubusercontent.com/ga-students/DS-SF-24/master/Data/Tobacco.csv"
TobaccoData = pd.read_csv(url)
del TobaccoData['Unnamed: 0']
TobaccoData.head()

,occupation,region,nkids,nkids2,nadults,lnx,stobacco,salcohol,age
0,bluecol,flanders,1,0,2,14.19054,0,0.000000,2
1,inactself,flanders,0,0,3,13.90857,0,0.002285,3
2,whitecol,flanders,0,0,1,13.97461,0,0.012875,2
3,bluecol,flanders,1,0,2,13.76281,0,0.005907,2
4,inactself,flanders,2,0,1,13.80800,0,0.021981,2

In [4]:

"""
In the following example dummy variables will be created for region and occupation and age
moreover, original variables for region and occupation will be deleted. It generates 
k - 1 dummy variables for k categories.
"""
TobaccoData = Dummify(TobaccoData, ['region', 'occupation', 'age'], del_prams= True)

In [5]:
TobaccoData.head()

,nkids,nkids2,nadults,lnx,stobacco,salcohol,region_flanders,region_walloon,occupation_inactself,occupation_whitecol,age_1,age_2,age_3,age_4
0,1,0,2,14.19054,0,0.000000,1,0,0,0,0,1,0,0
1,0,0,3,13.90857,0,0.002285,1,0,1,0,0,0,1,0
2,0,0,1,13.97461,0,0.012875,1,0,0,1,0,1,0,0
3,1,0,2,13.76281,0,0.005907,1,0,0,0,0,1,0,0
4,2,0,1,13.80800,0,0.021981,1,0,1,0,0,1,0,0